*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow:inherit;

}
body{
    background-color:white;
}
  .wlcm{
    color:brown
  }
.HOME{
    margin-bottom: 50px;
    /* color: #251749; */
}
nav{
    width: inherit;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color:aqua; */
    padding: 15px;
}

nav h3{
    padding-left: 30px;
}
nav h3 a{
    color:#251749;
    text-decoration: none;

}
.home_img{
    width: 100%;
    background-color: yellow;
    height:85vh;
    object-fit: contain;
}
.home_img img{
    height: inherit;
    width: inherit;
}
.content{
    margin: 0 50px;
    font-size: 20px;
    line-height: 1.8;
}
.software{
    margin-top:20px;
    color:#227C70
}

   /* contact */
.heading_contact{
    width: fit-content;
    margin-top: 10px;
    padding: 5px;
    background-color: #A8D1D1;
    border-radius: 9px;
    /* text-decoration:underline; */
    font-size:40px;
  
  color:#0A2647
}
/* #contact-bg{
    height:inherit ;
    width: 100%;
} */
#contact-page{
    background-image: url(/images/contact-background.jpg);
    height: 647px;
    background-size: cover;
    /* filter: blur(2px); */
}
.submit{
    background-color: #0A2647;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
}

#CONTACT{
    display: flex;
    margin-top: 9px;
    padding-bottom: 10px;  
    /* justify-content: center;  */
    background-repeat: no-repeat;
    height: 500px;
}
.address{
    margin-right: 200px;
    font-size: 30px;
    /* position: relative; */
    top: 5px;
    left: 100px;
    padding: 20px;
    margin-bottom: 0px;
}
.ours{
    margin-right: 100px;
    background-color: #EAFDFC;
    opacity: 0.7;
    width: fit-content;
    height: fit-content;
    /* text-align: center; */
}
.images{
    margin-top: -120px;
    margin-left: 1100px;
  position: absolute;
    
}
.images img{
    padding:5px;
    width: 40px;
    height: 40px;
}
#feedback{
    height: fit-content;
    background-color: #579BB1;
    margin-left: 100px;
    border-radius: 10px;
}
#form{
    padding: 10px;
    padding-left: 30px;
    /* border-radius: 5px; */
}
#name,#number,#message{
    margin: 10px 30px 30px 10px;
    height: 40px;
    border-radius: 7px;
    border: none;
    width: 300px;
}
#message{
    height: 100px;
    width: 300px;
}
#submit{
    cursor: pointer;
    margin-left: 120px;

}





/* ABOUT */
.about_heading{
    /* text-decoration:underline ; */
    font-size:30px;
    width: fit-content;
    background-color: #0A2647;
    color: white;
    padding: 7px;
    border-radius: 10px;
}
#ABOUT{
    text-align: center;
    background-color: aquamarine;
    width: fit-content;
    height: fit-content;
}
.image2 img{
    width: 300px;
    height: 300px;
    justify-content: center;
    border-radius: 50%;
}
.matter{
    height: fit-content;
    width: fit-content;
    font-size: 20PX;
    line-height: 2.1;
}

/* Gallery */
.gallery h1{
     /* text-align: center; */
   /* font-size: 50px;
    text-decoration: underline;
    margin-bottom: 50px; */
    font-size:30px;
    width: fit-content;
    background-color: #0A2647;
    color: white;
    padding: 7px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
    /* font-family:'Times New Roman', Times, serif;  */
.grid-container{
    height: fit-content;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    padding: 10px;
    gap: 50px;
    margin-left: 30px;
}
#second{
    visibility: hidden;
}
#third{
    visibility: hidden;
}
#first-button{
    background-color: #0A2647;
    color: white;
    padding: 7px;
    margin-left: 500px;
    margin-bottom: 100px;
    border-radius: 10px;
    
}
#second-button{
    background-color: #0A2647;
    color: white;
    padding: 7px;
    border-radius: 10px;
    margin-left: 500px;
    margin-bottom: 100px;
    display: none;
}
.grid-container img{
    width: 300px;
    height:300px; 

    border: 1px solid black;
}
#see-less{
    background-color: #0A2647;
    color: white;
    padding: 7px;
    border-radius: 10px;
    margin-left: 500px;
    margin-bottom: 100px;

}
